<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>时间与频率散点图</title>
    <script src="/static/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div id="main" style="width: 800px; height: 600px;"></div>
采样点:<input id="sample" type="text" name="sample" value="3,5,6,7">
<br>
时间：<input id="time1" type="text" name="time1" value="2017-11-30 00:00:00"/>
<input id="time2" type="text" name="time2" value="2017-12-01 00:00:00"/>
<br>
频率：<input id="fre1" type="text" name="fre1" value="1600"/>
<input id="fre2" type="text" name="fre2" value="1700"/>
<br>
电平：<input id="level1" type="text" name="level1" value="0"/>
<input id="level2" type="text" name="level2" value="20"/>
<br>
<button type="button" id="btn">submit</button>
<script>

    function dynamic(data){
            var serie = [];
            for (var point in data){
                // console.log(point);
                var item = {
                    name: point,
                    data: data[point],
                    type: 'scatter',
                    symbolSize: 6
                };
                serie.push(item);
            };
            return serie
        };

    function draw(){
        var sample = $('#sample').val();
        var time1 = $('#time1').val();
        var time2 = $('#time2').val();
        var fre1 = $('#fre1').val();
        var fre2 = $('#fre2').val();
        var level1 = $('#level1').val();
        var level2 = $('#level2').val();

        // alert('我已经运行了');
        $.get('/test/level_scatterHandle'+sample+'_'+time1+'_'+time2+'_'+fre1+'_'+fre2+'_'+level1+'_'+level2+'/',function(data){
            // console.log(data.data);
            // console.log(dynamic(data.data));
            var myCharts = echarts.init(document.getElementById('main'));
            var option = {
                title: {
                    text: '电平/频率',
                },

                grid: {
                    containLabel: true
                },

                legend:{

                },

                brush: {
                    toolbox: ['rect', 'polygon', 'lineX', 'lineY', 'clear'],
                    brushLink: null,
                    xAxisIndex: 0,
                    // yAxisIndex: 0
                },


                tooltip: {
                    trigger: 'item',
                    axisPointer: {
                        type: 'cross'
                    }
                },

                xAxis: {
                    type: 'value',
                    name: '频率(MHZ)',
                    splitNumber: 20,
                    min: 1600,
                    max: 1650,
                    splitLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },

                    axisLine:{
                        symbol: ['none', 'arrow'],
                        // symbolSize: [20,20]
                    }
                },

                yAxis: {
                    type: 'value',
                    name: '电平',
                    splitLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },

                    axisLine:{
                        symbol: ['none', 'arrow'],
                        // symbolSize: [20,20]
                    }
                },

                series: dynamic(data.data)
            };
            // console.log(option);
            // myCharts.clear();
            myCharts.on('brushselected', renderBrushed);
            // console.log(option);

////////////// 框选执行的函数/////////////////////////////////////////////////////////////////////////////////////////////
            function renderBrushed(params){
                var brushed = [];
                var json_data = {};
                var brushComponent = params.batch[0].selected;
                // console.log(brushComponent);
            // 遍历所有的系列
                for (var i = 0; i < brushComponent.length; i++){
                    var serie = brushComponent[i]; // 选中的系列
                    // console.log(serie);
                    var seriesIndex = serie.seriesIndex; // 系列的序号(索引)
                    var dataIndices = serie.dataIndex; // 系列中选中的点对应的索引
                    // console.log(myCharts.getOption()); // 处理了bug: option不能被及时的清除,所以直接用myCharts.getOption()得到option数据
                    var data = myCharts.getOption().series[seriesIndex]; // 选中系列的数据
                    // console.log(data);
                    var res = [];
                    // 取出选中的数据,并放入数组res中
                    for (var j = 0; j < dataIndices.length; j++){
                        res.push(data.data[dataIndices[j]]);
                    }
                    if(res.length != 0){
                        json_data[data.name] = res;
                    }
            }
                // console.log(json_data);
                var fres = []; // 存储所有选取数据频率的数组
                var levels = []; // 存储所有选取数据电平的数组
                for(var station in json_data){
                    var data = json_data[station];
                    for (var k = 0; k < data.length; k++){
                        fres.push(data[k][0]);
                        levels.push(data[k][1]);
                    }
                };
                console.log(fres);
                //将框选获取的数据传到后台进行数据统计
                var max_fre = Math.max.apply(null, fres); //最大频率
                var min_fre = Math.min.apply(null, fres); //最小频率

                var sample = $('#sample').val();
                var time1 = $('#time1').val();
                var time2 = $('#time2').val();
                var level1 = $('#level1').val();
                var level2 = $('#level2').val();

                console.log(level1);
                console.log(level2);
                $.get('/test/inquire/'+min_fre+'/'+max_fre+'/'+sample+'/'+time1+'/'+time2+'/'+level1+'/'+level2+'/', function(data){
                    if (data.code == 0){
                        return 0;
                    }
                    // console.log(data);
                    var brushed = data.data;
                    // console.log(brushed);
                    myCharts.setOption({
                        title: {
                            backgroundColor: '#333',
                            text: '数据统计: \n' + brushed.join('\n'),
                            bottom: 0,
                            right: 0,
                            width: 100,
                            textStyle: {
                                fontSize: 12,
                                color: '#fff'
                            }
                        }
                    });
                });

                /*
                // console.log(fres);
                var max_level = Math.max.apply(null, levels); //最大电平
                var min_level = Math.min.apply(null, levels); //最小电平
                var sum = 0;
                for (var i = 0; i < levels.length; i++){
                    sum += levels[i];
                }
                var avg_level = sum/levels.length; //平均电平
                var max_fre = Math.max.apply(null, fres); //最大频率
                var min_fre = Math.min.apply(null, fres); //最小频率

                brushed.push('最大电平:' + max_level);
                brushed.push('最小电平:' + min_level);
                brushed.push('平均电平:' + avg_level.toFixed(2));
                brushed.push('频率范围:' + min_fre+'-'+ max_fre);
                // 将统计数据展示在图形右下端
                myCharts.setOption({
                    title: {
                        backgroundColor: '#333',
                        text: '数据统计: \n' + brushed.join('\n'),
                        bottom: 0,
                        right: 0,
                        width: 100,
                        textStyle: {
                            fontSize: 12,
                            color: '#fff'
                        }
                    }
                });
                */
        }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            myCharts.clear();
            myCharts.setOption(option);

        });


    };

    draw();
    $(function(){
       $('#btn').click(function(){
            // alert(111);
            draw();

        });
    });
</script>
</body>
</html>
